.contrasenas.txt
/contrasenas.txt
contrasenas.txt
.kilo
venv/
.venv/
/backend/venv/
/BACKENDD/
/db/
.db/
/catalogo_presentaciones_Correcciones.xlsx
.catalogo_presentaciones_Correcciones.xlsx
/Python/
